<% form_for @message, :url => member_messages_path(@user) do |f| %>
  <ol>
    <li>
      <%= f.label 'recipients', t('recipients') %>
      <%= text_field_tag :recipients, @message.recipients.collect { |r| r.name_to_s }.to_sentence, :disabled => true %>
    </li>
    <li>
      <%= f.label :subject, t('subject') %>
      <%= f.text_field :subject, :title => t('subject_help') %>
    </li>
    <li>
      <%= f.label :body, t('body') %>
      <%= f.text_area :body, :title => t('body_help') %>
    </li>
    <li>
      <label><%= t('create_help')%></label>
      <%= f.submit t('create') %>
    </li>
  </ol>
<% end %>