= content_for :content_header do
  %h1= t('edit')
- form_for @topic, :html => { :multipart => true } do |f|
  = error_messages_for :topic
  %ol
    %li
      = f.label :title, t('title')
      = f.text_field :title, :title => t('title_help')
    %li
      = f.label :body, t('body')
      = f.text_area :body, :title => t('body_help')
      %li
        = f.label :assets, t('attachments')
        #assets-container
          = t('attachments_help')
          #assets
            = render :partial => 'topics/asset', :collection => @topic.assets
          = link_to_add_asset(@topic)
    %li
      = f.submit t('update')