- unless post_activity.trackable.nil?
  .activity[post_activity]{ :class => cycle('odd', 'even')}
    .icon
      = avatar_tag(post_activity.user, :style => :icon)
    .body
      .info
        = post_activity.created_at.strftime('%A, %e %B %Y at %k:%M')
      .title
        - if post_activity.action == 'create'
          = "#{link_to_member(post_activity.user)} published a new blog post '#{link_to_post(post_activity.post)}'."
        - elsif post_activity.action == 'update'
          = "#{link_to_member(post_activity.user)} edited the blog post '#{link_to_post(post_activity.post)}'."