= content_for :content_header do
  %h1= @wiki_page.title_to_s
- form_for @wiki_page, :url => path_for_wiki_page(@wiki_page), :html => { :multipart => true } do |f|
  = error_messages_for :wiki_page
  %ol
    %li
      = f.label :tag_list, t('tags')
      = f.text_field :tag_list, :title => t('tags_help')
    %li
      = f.label :body, t('body')
      = f.text_area :body, :title => t('body_help')
    %li
      = f.submit t('update')