- content_for :content_header do
  %h1= t('pending')
- content_for :content_sidebar do
  .block
    %ul
      %li= link_to_friendships
      %li= link_to_pending_friendships
  .block
    .title Community
    %ul
      %li= link_to_members_directory
.friendships
  - if @directory.friendships.blank?
    You don't have any friend requests.
  - else
    = render @directory.friendships
= render @directory