- content_for :content_header do
  %h1
    - if @group
      = @group.name_to_s
    - elsif @user
      = @user.name_to_s
    - else
      = t('index')
- if @group || @user
  %h2= t('index')
.assets
  - if @directory.assets.blank?
    %p
      No files could be found.
  - else
    = render @directory.assets
= render @directory