= content_for :content_header do
  %h1= t('.title')
- form_for @user_session, :url => session_path do |f|
  = error_messages_for :user_session
  %ol
    %li
      = f.label :email
      = f.text_field :email, :title => t('.accessibility.email')
    %li
      = f.label :password, t('.password', :link => link_to_reset_password).html_safe
      = f.password_field :password, :title => t('.accessibility.password')
    %li
      = f.submit t('.submit')
      or
      = link_to_register